body {
  background-color: rgb(63, 63, 63);
}
.answer {
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  width: 250px;
  height: 250px;
  margin: 8px;
  color: white;
  background-color: rgb(0, 174, 174);
  padding: 16px;
  border: 1px solid rgb(236, 97, 97);
}
.selected {
  background-color: rgb(100, 146, 255);
}
#header {
  text-align: center;
  background-color: white;
}
#footer {
  text-align: center;
}
.answerText {
  font-size: 2em;
}
h2 {
  padding-top: 1em;
}
h1 {
  font-size: 4em;
}
#content {
  background-color: white;
  width: 566px;
  padding: 16px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid black;
  margin: 0 auto;
}
.muted {
  opacity: 0.25;
}
.result {
  display: none;
}
#retryButton {
  display: none;
}
.btn {
  display: inline;
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.img_answer {
  width: 100px;
}


